body {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  background-color: rgb(30 30 30);
  
  
}

h1 {
  display: flex;
  color: #ffffff75;
  margin: -19px 0 10px 0px;
  font-size: 118px;
  justify-content: center;
}

input {
  outline: none;
  font-size: 28px;
  margin-top: 10px;
  border-radius: 5px;
}

.title-error {
  background: rgba(255, 255, 255, 0.979);
  color: red;
  margin: 0;
}

.invisible {
  margin: 0;
  display: none;
}

.input-error {
  border: 1.5px solid red;
  &::placeholder {
    color: red;
  }
}

.content-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 1217px;
}

.todo-list-wrapper {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 11px;

  .todo-container {
  display: flex;
  justify-content: center;

    .todo {
      display: flex;
      position: relative;
      flex-direction: column;
      
      min-height: 4.5rem;
      width: 545px;
      border: 1px solid rgba(0, 0, 0, 0.322);
      border-radius: 8px;
      box-shadow: 7px 6px 4px -4px rgba(0,0,0,0.35);
      font-size: 34px;
      label {
        word-wrap: break-word;
        padding-right: 2rem;
      }
    
      #title {
        color: #dfc225;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        padding-left: 63px;

        font-weight: bold;
        text-decoration: underline;
      }
      
      #desc {
        padding-left: 38px;
        padding-bottom: 5px;
        color: #f5a20b;
      }
    
      .todo-check {
        position: absolute;
        top: -6px;
        right: 2px;
        height: 26px;
        width: 26px;
        cursor: pointer;

      
      }

      .delete-btn {
        position: absolute;
        border: 0.1px solid red;
        padding: 1px;
        top: 7px;
        left: 7px;
        font-size: 23px;
        width: 31px;
        &:hover {
          background-color: red;
        }
      }
    }
  }
}

button {
  cursor: pointer;
  border-radius: 21px;
  border: none;
  
}

.add-input-container {
  display: flex;
  justify-content: center;
  
  #show-input {
    background-color: rgb(255, 189, 23);
    border-radius: 89px;
    font-size: 96px;
    height: 90px;
    width: 95px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      background-color: rgb(255, 210, 97);
    }

  }
}

.clear-container {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 7px;

  #clear-all-btn {
    padding: 0 16px;
    font-size: 34px;
    margin-right: 5px;
    margin-left: 38px;
    background-color: #ee6c15;
    font-family: Georgia, 'Times New Roman', Times, serif;

    &:hover {
      background-color: #ff371d;
    }
  }

  #clear-completed-btn {
    padding: 0 16px;
    font-size: 34px;
    background-color: #1e9340;
    font-family: Georgia, 'Times New Roman', Times, serif;

    &:hover {
      background-color: #28d85a;
    }
  }

}

.modal-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(3px);
  z-index: 2;
}
.input-box {
  background-color: #1c1b1b;
  width: 31rem;
  height: 17rem;
  border-radius: 35px;
  box-shadow: 4px 4px 8px 3px rgb(0 0 0 / 35%);

  .input-container {
    
    z-index: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 22rem;
    margin: 61px auto;
    
    .add-cancel-btns {

      #add-btn, #cancel-btn {
        width: 169px;
        margin-top: 24px;
        font-size: 34px;
      }
      #add-btn {
        margin-right: 8px;
        background-color: #1e9340;

        &:hover {
          background-color: #28d85a;
        }
      }

      #cancel-btn {
        background-color: #eb7427;

        &:hover {
          background-color: #ff371d;
        }
      }

    }
  }
}

.hide-input {
  display: none;
}

.disclaimer {
  font-size: 22px;
  width: 404px;
}

@media (max-width: 1248px) {
  .content-wrapper {
    width: 163px;
  }
  .todo-list-wrapper {
    flex-direction: column;
  }

  .clear-container {
    width: 405px;
    
  }
}

@media (max-width: 470px) {
  .content-wrapper {
    width: 133px;
  }
  .todo-list-wrapper {
    flex-direction: column;
    
    .todo-container {
      .todo {
        width: 409px;
        min-height: 0;
        font-size: 24px;
      }
      
      .delete-btn {
        font-size: 21px;
        width: 29px;
      }
    }
  }

  .add-input-container {
    #show-input {
      font-size: 75px;
      height: 70px;
      width: 73px;
    }
  }

  .clear-container {
    width: 405px;
    padding-bottom: 10px;
    #clear-all-btn, #clear-completed-btn {
      font-size: 29px;
    }
    
  }

  .input-box {
    width: 25rem;
    height: 17rem;

    .input-container {
      .add-cancel-btns {
        #add-btn, #cancel-btn {
          font-size: 27px;
        }
      }
    }
  }

}
